#Private key for deployment (without 0x prefix)
PRIVATE_KEY=your_private_key_here
PROTOCOL_FEE_ADDRESS=your_address

LOCAL_PRIVATE_KEY=your_private_key_here
LOCAL_PROTOCOL_FEE_ADDRESS=your_address

# Network selection
NETWORK=coston2
